* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Clarity City', sans-serif;


}

/* Inicio NavBar Styles */
.nav{
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a{
    text-decoration: none;
    color: #DDD;
    padding: 20px;
}

.nav-list a:hover{
    color: #FFF;
    transition: 0.3s;
}
/* Final NavBar Styles */



/* Inicio Main */
.main{
    background-color: #181818;
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('images/programador.png');
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.main h1{
    color: #FFF;
    font-size: 50px;
}
.main p{
    font-size: 20px;
    font-style: italic;
    color: #1e96fc;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.call-to-action{
    background-color: #1e96fc;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Final Main */

